@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira Stencil One';
}

div.contenedor {
    margin-bottom: 20px;
}

div.contenedor::after {
    clear: both;
    content: '';
    display: block;
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: red;
}

article a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

article {
    padding: 0 10px;
}

.logo {
    background-color: rgba(137, 43, 226, 0.082);
    border-bottom: 0.8px solid black;
}

footer {
    background-color: rgb(97, 93, 93);
}

footer>p {
    color: rgb(0, 225, 255);
    text-align: center;
}

footer p+p {
    color: white;
    text-align: center;
}

.logo img {
    max-width: 10%;
}

.white {
    color: white;
}

span {
    color: black;
}

.fondo {
    background-image: url('../img/garou1.png');
    background-size: cover;
    background-position-y: -80px;
}

@media only screen and (max-width:767px) {
    .logo img {
        max-width: 15%;
    }
    .logo {
        height: 60px;
    }
    img {
        float: left;
        margin-right: 20px;
        width: 50%;
    }
    article::after {
        content: '';
        display: block;
        clear: both;
    }
    article {
        margin-bottom: 20px;
        display: block;
    }
    h1 {
        font-size: 20px;
    }
    div.contenedor {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width:768px) {
    .col-6 {
        width: 50%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    div.contenedor {
        margin-bottom: 110px;
    }
    .fondo {
        background-position-y: -300px;
    }
    .logo img {
        max-width: 10%;
    }
}

@media only screen and (min-width:769px) {
    .fondo {
        background-position-y: -190px;
    }
}

@media only screen and (min-width:1024px) {
    .fondo {
        background-position-y: -300px;
    }
}

@media only screen and (max-width:580px) {
    .logo img {
        max-width: 20%;
    }
}